API_HOST=
DEFAULT_TIMEOUT_DELAY=
PHOTO_DEPRECATION_WARNING_THRESHOLD=
WS_CONNECTION_DOWN_DEBOUNCE=
WS_FORCE_CLOSE_GRACE_PERIOD=
WS_HEARTBEAT_INTERVAL=
WS_MAX_RECONNECTION_ATTEMPTS=
WS_PONG_TIMEOUT=
WS_RECONNECT_INTERVAL=
WS_TTL_REFRESH_INTERVAL=
